.tool-page-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tool-page-title-container {
  display: flex;
  margin-top: 0.5rem;
}

.tool-page-child {
  align-self: center;
}

.details-container {
  padding-bottom: 100px;
  min-width: 950px;
}

.tool-page-container {
  padding-top: 20px;
}

.tool-page-header {
  display: flex;
  justify-content: space-between;
  padding-left: 25px;
}


.message {
  width: 450px;
}

.tool-name+ .tool-version {
  margin-left: 1.25rem;
}

.tool-version {
  margin-top: 0.5rem;
}

.portal-params-image {
  width: 60%;
  height: 60%;
}

.tool-selection {
  display: flex;
  flex-direction: row;
}